<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="arma3Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <arma3Launcher.Properties.Settings>
      <setting name="hugePages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noPause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="noSplash" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="filePatching" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enableHT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="skipIntro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="window" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="battleye" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showScriptErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="worldEmpty" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="maxMem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="maxMem_value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="malloc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="malloc_value" serializeAs="String">
        <value />
      </setting>
      <setting name="exThreads" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="exThreads_value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cpuCount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cpuCount_value" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Arma3Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="TS3Folder" serializeAs="String">
        <value />
      </setting>
      <setting name="firstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="noBenchmark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="activeMods" serializeAs="String">
        <value />
      </setting>
      <setting name="AddonsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="cModsFolder_value" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAddonPack" serializeAs="String">
        <value>arma3</value>
      </setting>
      <setting name="startGameAfterDownload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="allowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoDownload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="joinServerAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrivateKeys" serializeAs="String">
        <value />
      </setting>
      <setting name="RepoFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastRepoFileHash" serializeAs="String">
        <value />
      </setting>
      <setting name="isServerMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerConfig" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="HCProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="HCInstances" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ClientProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="x64Game" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="workshopAddons" serializeAs="String">
        <value />
      </setting>
      <setting name="joinTsServerAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerMission" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableAnimations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="optionalAddons" serializeAs="String">
        <value />
      </setting>
      <setting name="OptionalAddonsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPack" serializeAs="String">
        <value />
      </setting>
    </arma3Launcher.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>